.whatparse {
  width: fit-content;
  margin: 15vh auto 0;
}
.whatparse__row {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 20px;
}
.whatparse__row--line,
.whatparse__row--checkbox {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.whatparse__row--checkbox {
  margin-bottom: 30px;
  align-items: center;
}
.whatparse__row--line {
  justify-content: space-between;
}
.whatparse__row--small {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.whatparse__label {
  margin-bottom: 7px;
  font-weight: 500;
}
.whatparse__label--checkbox {
  margin-left: 6px;
  margin-bottom: 0;
}
.whatparse__input {
  height: 56px;
  padding: 0 7px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  border: 1px solid #1e88e5;
}
.whatparse__input:focus {
  border-color: #0d47a1;
  box-shadow: 0 3px 7px 0px #e0e0e0;
}
.parsed {
  width: fit-content;
  margin: 50px auto;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 3px 7px 0px #e0e0e0;
  padding: 20px 0;
}
@media (max-width: 690px) {
  .parsed {
    font-size: 14px;
  }
}
@media (max-width: 690px) {
  .parsed__table {
    overflow-x: auto;
  }
}
.parsed__row,
.parsed__row:nth-child(even) {
  transition: 0.3s cubic-bezier(0.25, 0.1, 0.22, 0.96);
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
}
.parsed__row:hover,
.parsed__row:nth-child(even):hover {
  background-color: #90caf9;
}
.parsed__row:nth-child(even) {
  background-color: #e3f2fd;
}
.parsed__td {
  padding: 15px;
  line-height: 150%;
}
@media (max-width: 690px) {
  .parsed__td {
    padding: 10px;
  }
}
.parsed__td--full {
  padding: 0 15px;
}
@media (max-width: 690px) {
  .parsed__td--full {
    padding: 0 10px;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
.parsed__row--small {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.parsed__row--small.--main {
  margin-bottom: 5px;
}
.parsed__topfield {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
}
.parsed__percent {
  display: flex;
  align-items: baseline;
}
@media (max-width: 690px) {
  .parsed__percent {
    margin-bottom: 10px;
  }
}
.parsed__label {
  font-weight: 500;
  margin-right: 10px;
}
@media (max-width: 690px) {
  .parsed__label {
    font-size: 15px;
  }
}
.parsed__input {
  height: 30px;
  width: 50px;
  padding: 0 7px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  border: 1px solid #1e88e5;
}
@media (max-width: 690px) {
  .parsed__input {
    font-size: 15px;
    height: 30px;
  }
}
.parsed__input:focus {
  border-color: #0d47a1;
  box-shadow: 0 3px 7px 0px #e0e0e0;
}
@media (max-width: 690px) {
  .parsed__buttons {
    width: min-content;
  }
  .parsed__buttons .cta.form.grey {
    margin-bottom: 5px;
  }
}
* {
  font-family: 'Roboto';
}
.cta {
  font-size: 18px;
  background-color: #0d47a1;
  color: #fff;
  padding: 10px 20px;
  outline: none;
  border-radius: 20px;
  border: none;
  transition: 0.3s cubic-bezier(0.25, 0.1, 0.22, 0.96);
}
.cta:hover {
  box-shadow: 0 3px 7px 0px #e0e0e0;
}
.cta.grey {
  background-color: #adadad;
}
.cta.form {
  font-size: 14px;
  padding: 7px 14px;
  margin-right: 10px;
}
@media (max-width: 690px) {
  .cta.form {
    margin-right: 5px;
  }
}
a {
  color: #fff;
  text-decoration: none;
}

.parsed__onclick {
    cursor: pointer;
}

.slide-enter-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.slide-leave-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
    max-height: 200px;
    overflow: hidden;
}

.slide-enter, .slide-leave-to {
    overflow: hidden;
    max-height: 0;
}
